table {
    width: 100%;
    padding: 0;
    border-spacing: 0px;

    tr {
        &:hover {
            background-color: #f5f5f5;
        }
        &:nth-child(even) {
            background-color: #fbfdf1;

            &:hover {
                background-color: #f5f5f5;
            }
        }
    }

    th {
        text-align: left;
        padding: 3px;
        border-bottom: 1px solid #ccc;
    }
    td {
        padding: 3px;
        border-top: 1px solid #e7ecf1;
    }
}
